site: CollectorOfJack.com


url: https://collectorofjack.com
baseurl: ''

author: Chris Hammond
title: CollectorOfJack.com - A Jack Daniel's Collector Blog

feed:
  excerpt_only: true

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /blog/:slug
  projects:
    output: true
    permalink: /project/:slug

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  -
    scope:
      path: ""
      type: "projects"
    values:
      layout: "project"

compress_images:
  images_path: "images/**/*.{gif,png,jpg,jpeg,svg}"

markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  
sass:
  style: compressed

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll_picture_tag
  - jekyll-feed

paginate: 12
paginate_path: "/page:num/"

picture:
  source: "images/fullsized"
  output: "images/generated"
  suppress_warnings: true
  ignore_missing_images: false

grid_alignments:
  - top
  - center
  - bottom
