<div class="post-author text-center"  itemtype="http://schema.org/Person" itemprop="author" >
	<img src="{{ site.baseurl }}/images/{{ site.owner.avatar }}" alt="{{ site.owner.name }}'s photo" itemprop="image" class="post-avatar img-circle img-responsive"/>    
	<h4>By <a href="{{ site.owner.web }}" title="About {{ site.owner.name }}" itemprop="sameAs"><span itemprop="name" class="fn">{{ site.owner.name }}</span></a></h4>
	<div style="font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; display:inline-block;font-size:.75em;" itemprop="description">{{ site.owner.info }}</div>
</div>